.heading {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
}

.portrait {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
  clear: both;
}

.projects {
  border: 2px solid green;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}

.about {
  border: 2px solid green;
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  box-sizing: border-box;
}


/* .portrait {
  margin: auto;
  width: 20%;
  height: auto;
  display: block;
} */

/* .projects {
  width: 35%;
  padding: 30px;
  border: solid black;
  border-width: 2px;
  margin: 0 40% 1% 25%;
  box-sizing: border-box;
} */

/* .about {
  width: 35%;
  padding: 50px;
  border: solid black;
  border-width: 2px;
  margin: 0 40% 0 25%;
  box-sizing: border-box;
} */

.textColor {
  color: brown;
  font-weight: bold;
}

li {
  list-style-type: none;
}