.portrait img {
  width: 20%;
  height: 20%;
  float: left;
}

.projects {
  border: 2px solid grey;
  padding: 20px;
  margin: 0 40% 0 25%;
}

.about {
  border: 2px solid grey;
  margin: 0 40% 0 25%;
  padding: 15px;
}

li {
  list-style-type: none;
}